@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
  background: #afd4c0;
}
button{
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
}
.middle_section_bg{
  margin-left: auto;
  margin-right: auto;
  width:60vw;
  min-height: 86vh;
  height: auto;
  background: #e5f4ec;
}
.delete_img{
  height: 19px;
  cursor: pointer;
  position: relative;
  top:0px;
  right: 0px;
}

a{
  color: black;
  text-decoration: none;
}
.add_new_listing_nav{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: flex-start;
}
.add_new_listing_nav h3{
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  margin: 0px
}
.add_new_listing_nav button{
  height: 25px;
  width: 60px;
  background: #fec2c2;
  font-weight: 700;
}
.text_inputs_container{
  font-size: 20px;
  padding: 30px;
  padding-left: 70px;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
}
.text_inputs_container input{
  border:1px solid #519872;
  font-size: 20px;
}
.text_center{
  text-align: center;
}
.display_inline_inputs{
  display: flex;
}
.display_inline_inputs input{
  display: block;
}
.city_input{
  width: 200px;
  margin-right: 10px;
}
.state_input{
  width: 50px;
  margin-right: 10px;
}
.image_input{
  width: 450px;
}
.nav_btn_container_2{
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 300px;
}
.nav_btn_container_3{
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 240px;
}
.btn_right{
float: right;
margin-right: 40px;
margin-top: 183px;
}
.nav_btn{
  height: 40px;
  width: 100px;
  background: #3b5249;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
.completed_btn{
  height: 40px;
  width: 100px;
  background: #8aea92;
  color: rgb(0, 0, 0);
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}